#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <zmk-helpers/helper.h>
#include <zmk-helpers/key-labels/42.h>


ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

/* ZMK_CONDITIONAL_LAYER(LOWER,HIGHER, TRI) */

/* existing combos */
/* bracket combos */

ZMK_COMBO(paren_l, &kp LPAR, LT2 LT3, ALL)
ZMK_COMBO(brace_l, &kp LBRC, LT3 LT4, ALL)
ZMK_COMBO(bracket_l, &kp LBKT, LM2 LM3, ALL)

ZMK_COMBO(paren_r, &kp LPAR, RT2 RT3, ALL)
ZMK_COMBO(brace_r, &kp LBRC, RT3 RT4, ALL)
ZMK_COMBO(bracket_r, &kp LBKT, RM2 RM3, ALL)

/* utility combos */

ZMK_COMBO(delete_word, &kp C_BSPC, LB2 LB3, ALL)
ZMK_COMBO(raycast, &kp LGUI(SPACE), LT3 RT3, ALL)

/* ZMK_COMBO(ctrl_shift_tab, &kp LC(LS(TAB)), LT3 LT2, ALL) */
/* ZMK_COMBO(ctrl_tab, &kp LC(TAB), LT2 LT1, ALL) */
/* ZMK_COMBO(opt_space, &kp LALT(SPACE), LM4 RM4, ALL) */
/**/
/* /* bracket combos */ */
/**/
/* ZMK_COMBO(paren_l, &kp LPAR &kp RPAR, LT2 LT3, ALL) */
/* ZMK_COMBO(brace_l, &kp LBRC &kp RBRC, LT3 LT4, ALL) */
/* ZMK_COMBO(bracket_l, &kp LBKT &kp RBKT, LM2 LM3, ALL) */
/**/
/* ZMK_COMBO(paren_r, &kp LPAR &kp RPAR, RT2 RT3, ALL) */
/* ZMK_COMBO(brace_r, &kp LBRC &kp RBRC, RT3 RT4, ALL) */
/* ZMK_COMBO(bracket_r, &kp LBKT &kp RBKT, RM2 RM3, ALL) */
/**/
/* /* utility combos */ */
/**/
/* ZMK_COMBO(delete_word, &kp LC(BSPC), LB2 LB3, ALL) */
/* ZMK_COMBO(raycast, &kp LG(SPACE), LT3 RT3, ALL) */

/ {

keymap {
  compatible = "zmk,keymap";

  default_layer {
    bindings = <
&kp TAB       &kp Q        &kp W        &kp F        &kp P        &kp B                          &kp J        &kp L        &kp U        &kp Y        &kp SEMI       &kp MINUS
&kp ESC       &hml LSHFT A &hml LCTRL R &hml LALT S  &hml LGUI T  &kp G                          &kp M        &hmr RGUI N  &hmr RALT E  &hmr RCTRL I  &hmr RSHFT O   &kp SQT
&kp LSHFT     &kp Z        &kp X        &kp C        &kp D        &kp V      &kp C_MUTE &none     &kp K        &kp H        &kp COMMA    &kp DOT      &kp FSLH       &kp RSFT
                                 &mo 2           &mt LCTRL TAB   &mt LGUI BSPC                  &mt LSHIFT RET  &mt LALT SPACE  &mo 1
    >;

    sensor-bindings = <
      &inc_dec_kp C_VOL_UP C_VOL_DN
      &inc_dec_kp PG_UP PG_DN
    >;
  };

  LOWER {
    bindings = <
&trans &trans &trans &trans &trans &trans         &kp HOME  &kp PG_DN &kp PG_UP &kp END  &trans &trans
&trans &trans &trans &trans &trans &trans         &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans                  &trans &trans &trans
    >;
  };

  HIGHER {
    bindings = <
&trans &trans &trans &trans &trans &trans         &kp EXCL &kp AT    &kp HASH &kp DLLR &kp PRCNT &kp CARET
&trans &trans &trans &trans &trans &trans         &kp PLUS &kp MINUS &kp STAR &kp SLASH &kp EQUAL &kp BSLH
&trans &trans &trans &trans &trans &trans &trans &trans    &kp N7 &kp N8 &kp N9 &kp COLON &kp SEMI &trans
                         &trans &trans &trans                  &trans &kp N0 &trans
    >;
  };

  TRI {
    bindings = <
&trans &trans &trans &trans &trans &trans         &kp VOL_UP &kp MUTE &kp VOL_DN &trans &trans &trans
&trans &trans &trans &trans &trans &trans         &kp LEFT   &kp DOWN &kp UP     &kp RIGHT &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans                  &trans &trans &trans
    >;
  };

};

};
